body{
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 100%);
    background-image: url("http://i.imgur.com/xMVcEr2.png");
    background-repeat: repeat;
}

h1{
    background-color: #99ebff;
    text-align: center;
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 50px;
}

.template{
    visibility: hidden;
}

input.input-group-field1{
    float: left;
    width: 65%;
    margin-top: 18px;
    padding: 18px;
}

input.input-group-field2{
    display: inline-block;
    margin-left: 10px;
    margin-top: 18px;
    width: 30%;
    padding: 18px;
}

button.success button{
    display: inline-block;
    margin: 0px;
    
}

#flick-list li{
    background-color: #DDA0DD;
    list-style-type: none;
    font: 300 20px "Trebuchet MS"; 
    padding: 10px;
    text-align: center;
}

li{
    margin-top: 10px;
    margin-left: -2.5%;
    padding: 10px;
}

.del{
    margin-left: 9%;
    cursor: pointer; 
    cursor: hand; 
}

.promo{
    margin-left: 8%;
    color: maroon;
    cursor: pointer; 
    cursor: hand; 
}

.up{
    margin-left: 10%;
    cursor: pointer; 
    cursor: hand; 
}

.down{
    margin-left: 11%;
    cursor: pointer;
    cursor: hand;
}
.notclicked{
    background-color:#DDA0DD;
}

.clicked{
    background-color: yellow;
}
